@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans); /* pakai Jakarta Sans */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
}


/* Tambahkan di global CSS (misalnya styles.css) */
.custom-video::-webkit-media-controls-play-button,
.custom-video::-webkit-media-controls-timeline,
.custom-video::-webkit-media-controls-current-time-display,
.custom-video::-webkit-media-controls-time-remaining-display{
  display: none !important;
}